fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
motor
pymongo
langchain
langchain-community
langchain-groq
langchain-mongodb
transformers
sentence-transformers
requests
beautifulsoup4
httpx
PyPDF2
python-docx
